#floatingButtons > .button {
  opacity: 0;
  width: 50px;
  height: 50px;
  font-size: 3em;
  color: #999999;
  color: #99999999;
  position: fixed;
  z-index: 5;
  z-index: var(--z-button);
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}

#floatingButtons > .button:hover {
  color: black;
  background: white;
  cursor: pointer;
}

#floatingButtons > .button svg {
  height: 100%;
  width: 100%;
}

#floatingButtons > .button.menu {
  left: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  opacity: 1;
}

#floatingButtons > .button.menu:hover {
  background: none;
}

#floatingButtons > .button.up {
  left: calc(50% - 25px);
  top: 20px;
}

#floatingButtons > .button.left {
  top: calc(50% - 25px);
  left: 20px;
}

#floatingButtons > .button.down {
  left: calc(50% - 25px);
  bottom: 20px;
}

#floatingButtons > .button.right {
  right: 20px;
  top: calc(50% - 25px);
}
