/*Material Design Them Orange*/
.theme, ._500 {
	background-color: #ff9800;
}

.theme-light, ._300 {
	background-color: #ffb74d;
}

.theme-dark, ._700 {
	background-color: #f57c00;
}

/*Material Design Them Orange*/
.theme > p, 
.theme > p > i, 
.theme > h1 {
	color: #fff;
}

.theme-light > p, 
.theme-light > p > i, 
.theme-light > h1 {
	color: #000;
	opacity: .54;
}

.theme-dark > p, 
.theme-dark > p > i, 
.theme-dark > h1 {
	color: #fff;
}


/*Material Design Accent Light Blue*/
.accent-lightest {
	background-color: #fafafa;
}
.accent-lighter, .A100 {
	background-color: #82b1ff;
}

.accent-light, .A200 {
	background-color: #448aff;
}

.accent-dark, .A400 {
	background-color: #2979ff;
}

.accent-darker, .A700 {
	background-color: #2962ff;
}

/****************/
/*circle buttons*/
/****************/
.circle {
	transition:box-shadow 0.3s ease;
	width:60px;height:60px;border-radius:50px;margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.54);position:relative; display:inline-block;
}

.circle:hover {
	box-shadow:0px 12px 12px rgba(0, 0, 0, 0.34);
}

.circle > p {
	position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
}xx

.circle > p > i{
vertical-align:middle;
}

.roundedButton {
	transition: box-shadow 0.3s ease;
	width:100px;height:60px;border-radius:5px;margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto;display:block;box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.54);
}

.roundedButton:hover {
	box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.34);
}

.roundedButton > p {
	position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
}

.roundedButton > p > i{
vertical-align:middle;
}

.raise-2{
	box-shadow:0px 2px 4px rgba(0, 0, 0, 0.54);
}

.main-block{
	border-radius: 2px;
	text-align: center;
}