/*Material Design Orange*/
.theme, .500{
	background-color:#ff9800;
}

.50{
	background-color:#fff3e0;
}

.100{
	background-color:#ffe0b2;
}

.200{
	background-color:#ffcc80;
}

.theme-light, .300{
	background-color:#ffb74d;
}

.400{
	background-color:#ffa726;
}

.500{
	background-color:#ff9800;
}

.600{
	background-color:#fb8c00;
}

.theme-dark, .700{
	background-color:#f57c00;
}

.800{
	background-color:#ef6c00;
}

.900{
	background-color:#e65100;
}

.A100{
	background-color:#ffd180;
}
.A200{
	background-color:#ffab40;
}
.A400{
	background-color:#ff9100;
}
.A700{
	background-color:#ff6d00;
}