@media screen and (prefers-reduced-motion: reduce) {
  * {
    transition: opacity 1s ease-out, background 1s ease-out, color 1s ease-out, background-color 1s ease-out;
    animation: none !important;
  }
}
/*** LIGHT THEMES ***/
:root {
  --z-button: 5;
  --background-color: #ffefd5;
  --foreground-color: black;
  --faded-color: #aaa;
  --accent-color: black;
}
:root nav,
:root .button,
:root [data-button-type] {
  --background-color: white;
  --foreground-color: black;
  --hover-color: #ddd;
  --active-color: #ccc;
}

html[data-parent-theme=Projects] {
  --background-color: rgb(238, 243, 245);
  --foreground-color: black;
  --accent-color: black;
}
html[data-parent-theme=Projects][data-theme=Tandem] {
  --background-color: rgb(245, 245, 245);
  --foreground-color: black;
  --accent-color: white;
}
html[data-parent-theme=Projects][data-theme="jamsjordn.com"] {
  --background-color: mistyrose;
  --foreground-color: black;
  --accent-color: dimgrey;
}

/*** DARK THEMES ***/
@media (prefers-color-scheme: dark) {
  :root {
    --z-button: 5;
    --background-color: #000c18;
    --foreground-color: white;
    --faded-color: #aaa;
    --accent-color: white;
  }
  :root nav,
:root .button,
:root [data-button-type] {
    --background-color: #223;
    --foreground-color: white;
    --hover-color: #334;
    --active-color: #445;
  }

  html[data-parent-theme=Projects] {
    --background-color: #001317;
    --foreground-color: white;
    --accent-color: black;
  }
  html[data-parent-theme=Projects][data-theme=Tandem] {
    --background-color: #1a1f23;
    --foreground-color: white;
    --accent-color: white;
  }
  html[data-parent-theme=Projects][data-theme="jamsjordn.com"] {
    --background-color: #000c18;
    --foreground-color: white;
    --accent-color: white;
  }
}
.noAnimation {
  transition: all 0s !important;
}

html {
  height: 100%;
  width: 100vw;
}

body {
  background: #ffefd5;
  background: var(--background-color) !important;
  color: black;
  color: var(--foreground-color);
  transition: background 1.4s ease-in-out, height 1.4s ease-in-out, width 1.4s ease-in-out, opacity 1.4s ease-in-out, transform 1.4s ease-in-out;
  font-family: "Assistant", "Arial", sans-serif;
  margin: auto;
}
.fontawesome-i2svg-active body {
  opacity: 1 !important;
}

[data-article="James Jordan"] [data-section=Main] {
  text-align: center;
}
[data-article="James Jordan"] [data-section=Main] .socials,
[data-article="James Jordan"] [data-section=Main] .socials > a {
  padding: 20px;
}
[data-article="James Jordan"] [data-section=Main] div > * {
  text-align: center;
}
[data-article="James Jordan"] [data-section=Main] > div > div > a {
  padding: 15px;
  height: 0px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

h1 {
  font-size: 65px;
  line-height: 65px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 45px;
}

h3 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  font-style: normal;
}

header {
  display: none;
}

@supports (display: grid) {
  html {
    overflow: hidden;
  }

  body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  #display {
    height: 100%;
    width: 100%;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "titleBar" "pages";
  }
  @media screen and (min-width: 701px) and (max-width: 1200px) {
    #display {
      grid-template-columns: 250px 10fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "menu pages .";
    }
  }
  @media screen and (min-width: 1201px) {
    #display {
      grid-template-columns: 1fr 300px 900px 300px 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". menu pages . .";
    }
  }

  main {
    position: relative;
    grid-area: pages;
    flex-grow: 1;
    max-width: 1100px;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article > div.active {
    z-index: calc(0 + 1);
  }
  article.hiddenAbove {
    z-index: -1;
  }
  article.hiddenAbove > section {
    transform: translateY(-100vh) scale(0.8);
    opacity: 0;
  }
  article.hiddenBelow {
    z-index: -1;
  }
  article.hiddenBelow > section {
    transform: translateY(100vh) scale(0.6);
    opacity: 0;
  }

  section {
    position: absolute;
    height: auto;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    transition: background 1.4s ease-in-out, height 1.4s ease-in-out, width 1.4s ease-in-out, opacity 1.4s ease-in-out, transform 1.4s ease-in-out;
    transform: translateY(0);
    -ms-overflow-style: none;
  }
  section::-webkit-scrollbar {
    width: 0px;
  }
  section.hiddenLeft {
    transform: translateX(-110vw) scale(0.6);
    opacity: 0;
  }
  section.hiddenRight {
    transform: translateX(110vw) scale(0.6);
    opacity: 0;
  }
  section > *:first-child {
    margin-top: 40px;
  }
  section > *:last-child {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 701px) and (max-width: 1200px) {
    section > *:first-child {
      margin-top: 100px;
    }
    section > *:last-child {
      margin-bottom: 100px;
    }
  }
  @media screen and (min-width: 1201px) {
    section > *:first-child {
      margin-top: 150px;
    }
    section > *:last-child {
      margin-bottom: 150px;
    }
  }
  section > * {
    width: 100%;
  }
  section > *.fullwidth {
    padding: 0;
  }
  section > *:not(.fullWidth) {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  @media screen and (min-width: 701px) and (max-width: 1200px) {
    section > *:not(.fullWidth) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  @media screen and (min-width: 1201px) {
    section > *:not(.fullWidth) {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
  section div > p,
section div > ul {
    text-align: justify;
  }

  main > [data-article="James Jordan"] > [data-section=Main] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main > [data-article="James Jordan"] > [data-section=Skills] ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  main > [data-article="James Jordan"] > [data-section=Skills] ul li {
    list-style-type: none;
    padding: 10px;
    font-size: 1.2em;
  }

  main > #tandem {
    text-align: center;
    vertical-align: middle;
  }
  main > #tandem > [data-sub-section=Main] {
    background: url(images/tandem.png) no-repeat center center, #1a1f23;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  main > #tandem > [data-sub-section=Mobile] {
    background: inherit;
  }

  #pages > #enteruptors {
    background: purple;
  }

  @supports (display: grid) {
    header {
      display: block;
      -ms-overflow-style: none;
    }
    header::-webkit-scrollbar {
      width: 0 !important;
    }
    @media screen and (min-width:701px) {
      header {
        grid-area: menu;
        padding-right: 10px;
      }
    }
    @media screen and (min-width: 1201px) {
      header {
        padding: 0px 10px;
      }
    }
    header nav#menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: auto;
      max-height: 100%;
      font-weight: 300;
      font-size: 1.1em;
      overflow-y: auto;
      position: relative;
      box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
      z-index: 20;
      border-bottom-right-radius: 20px;
      transition: background 0.3s ease-out, height 0.3s ease-out, width 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
    }
    @media screen and (min-width: 1201px) {
      header nav#menu {
        border-bottom-left-radius: 20px;
      }
    }
    @media screen and (max-width: 700px) {
      header nav#menu {
        position: fixed;
        top: 0;
        left: 0;
      }
      header nav#menu.hidden {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
    header nav#menu > div {
      display: flex;
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      background: var(--background-color);
      color: var(--foreground-color);
      overflow: hidden;
    }
    header nav#menu > div:first-of-type {
      padding-top: 70px;
    }
    header nav#menu > div.active .active {
      background: var(--active-color);
    }
    header nav#menu > div.active svg {
      transform: scaleY(-1);
    }
    header nav#menu > div:not(.active) .sub {
      height: 0px;
      opacity: 0;
      overflow: hidden;
    }
    header nav#menu > div:not(.active) .sub > div {
      transform: translateY(0);
    }
    header nav#menu > div > div {
      height: 60px;
      transition: background 0.3s ease-out, height 0.3s ease-out, width 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
      display: grid;
      grid-template-columns: 1fr 50px;
      grid-template-rows: 1fr;
      grid-template-areas: "text arrow";
    }
    header nav#menu > div > div:hover {
      background: var(--hover-color);
      cursor: pointer;
    }
    header nav#menu > div > div > div {
      margin: auto 0px auto 15px;
      grid-area: text;
    }
    header nav#menu > div > div.sub > div {
      margin: auto auto auto 35px;
      transition: background 0.3s ease-out, height 0.3s ease-out, width 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
    }
    header nav#menu > div > div.header {
      z-index: calc(20 + 1);
    }
    header nav#menu > div > div.header svg {
      font-size: 1em;
      grid-area: arrow;
      justify-self: center;
      align-self: center;
      transition: all 0.3s ease-in-out;
      padding: 1em;
    }
  }
  header > .titleBar {
    position: relative;
    grid-area: titleBar;
    z-index: 50;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 70px 1fr 70px;
    grid-template-areas: "hamburger title hamburgerHidden";
  }
  @media screen and (min-width:701px) {
    header > .titleBar {
      display: none;
    }
  }
  header > .titleBar * {
    transition: background 0.3s ease-out, height 0.3s ease-out, width 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  header > .titleBar .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: var(--faded-color);
  }
  header > .titleBar .hamburger:hover {
    opacity: 1;
    color: var(--foreground-color);
    cursor: pointer;
  }
  header > .titleBar .hamburger:first-of-type {
    grid-area: hamburger;
  }
  header > .titleBar .hamburger:last-of-type {
    grid-area: hamburgerHidden;
  }
  header > .titleBar .title {
    grid-area: title;
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
  }
  header > .titleBar .hidden {
    opacity: 0;
    transform: translateY(-200px);
  }

  [data-section=Tandem] div[data-feature=responsive] {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 700px;
    min-height: 700px;
    max-height: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  [data-section=Tandem] div[data-feature=responsive] .iframeWrapper {
    animation: mobileResponsive 8s ease-in-out infinite;
    width: 80%;
    height: 95%;
  }
  @keyframes mobileResponsive {
    0% {
      width: 80%;
      height: 95%;
    }
    10% {
      width: 80%;
      height: 95%;
    }
    40% {
      width: 50%;
      height: 80%;
    }
    60% {
      width: 50%;
      height: 80%;
    }
    90% {
      width: 80%;
      height: 95%;
    }
    100% {
      width: 80%;
      height: 95%;
    }
  }
}
.iframeWrapper {
  overflow: hidden;
  border: white 3px solid;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.75);
}
.iframeWrapper iframe {
  height: 100%;
  width: 100%;
  border: 0px;
}

[projectsGrid] {
  display: grid;
  width: 100%;
  padding-left: 10px !important;
  padding-right: 10px !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: start center;
}
[projectsGrid] > li {
  list-style-type: none;
  padding: 20px;
}
[projectsGrid] > li > a > img {
  width: 100%;
  max-height: 300px;
  border: white 3px solid;
  border-radius: 15px;
  object-fit: cover;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.55);
}
[projectsGrid] > li > p {
  font-size: 1.1em;
  padding: 5px;
}

.buttonContainer {
  padding-top: 10px;
}
@supports (display: grid) {
  .buttonContainer {
    place-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .buttonContainer a {
    float: none;
  }
}
.buttonContainer > a, .buttonContainer > .button,
.buttonContainer [data-button-type] {
  float: left;
}

.button,
[data-button-type] {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 10px 15px;
  border-radius: 13px;
  border: white 2px solid;
  background: white;
  background: var(--background-color);
  color: black;
  color: var(--foreground-color);
  transition: all 0.15s ease-out;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65);
  z-index: auto;
}
.button[data-button-type=live],
[data-button-type][data-button-type=live] {
  --accent: orangered;
}
.button[data-button-type=github],
[data-button-type][data-button-type=github] {
  --accent: #6f42c1;
}
.button::after,
[data-button-type]::after {
  opacity: 0;
  transition: all 0.15s ease-out;
  content: "";
  border-radius: 11px;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 5px 5px var(--accent);
}
.button:hover,
[data-button-type]:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.85);
}
.button:hover::after,
[data-button-type]:hover::after {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
