<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Computering and Stuff
Solutions4Strategy | University of Technology Sydney | UTS Data Arena">
	<meta name="keywords" content="James,Jordan">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="/assets/icons/ico.ico" rel="shortcut icon" type="image/x-icon">
	<!-- Bootstrap --><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme --><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/site.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/80fec55e3f.js"></script>
</head>
<body>
	<div>
			<div>
			</div>
			<div class="sidebar">
				<a class="sitePicture" href="/"><div><div></div></div></a>
				<a class="title" href="/">James Jordan</a>
				<div class="menu">
					<a class="subheader" href="/">&nbsp; <i class="fa fa-code fa-fw" aria-hidden="true"></i><p> Code</p></a>
					<a class="subheader" href="/">&nbsp; <i class="fa fa-music fa-fw" aria-hidden="true"></i><p> Music</p></a>
					<a class="subheader" href="/">&nbsp; <i class="fa fa-plane fa-fw" aria-hidden="true"></i><p> Travel</p></a>
				</div>
				<div class="socialLinks">
					<a href="http://www.facebook.com/jamsjordn" target="blank">
						<div>
							<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
						</div>
					</a>
					<a href="http://www.linkedin.com/jamsjordn" target="blank">
						<div>
							<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
						</div>
					</a>
					<a href="http://www.instagram.com/jamsjordn" target="blank">
						<div>
							<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
						</div>
					</a>
					<a href="mailto:james.jordan@live.com.au" target="blank">
						<div>
							<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
						</div>
					</a>
				</div>
				<a class="menuCollapse" href="/"><i class="fa fa-bars  fa-3x" aria-hidden="true"></i></a>
			</div>
			<div class="content">
				{{ content }}
			</div>
			<div>
			</div>
		
	</div>
</body>

</html>
